<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.memvault-infra.__VAULT_NAME__.mcpo</string>
  <key>ProgramArguments</key>
  <array>
    <string>__UVX_PATH__</string>
    <string>mcpo</string>
    <string>--port</string>
    <string>__PORT__</string>
    <string>--config</string>
    <string>__CONFIG_DIR__/mcpo-config.json</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>__PATH__</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>__LOG_DIR__/mcpo.out.log</string>
  <key>StandardErrorPath</key>
  <string>__LOG_DIR__/mcpo.err.log</string>
</dict>
</plist>
